/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: Meiryo, sans-serif;
 }

 a:link{ color: #00c; }
 a:visited{ color: #00c; }
 a:hover{ color: #ccf; }
 a img{ border: none; }

 #container{
  margin: 0 auto;
  padding-top: 5px;
  width: 1080px;
 }

#content{
  float: left;
  width: 730px;
  padding: 10px 10px 10px 0;
}

#sidebar{
  float: left;
  width: 330px;
  background: #e8ffff;
  padding: 5px;
  font-size: 86%;
}

.menubar{
  background: black;
  padding: 10px 20px;
}

.menubar a{
  text-decoration: none;
}

.menubar a:link{
  color: #ccc;
}

.menubar a:visited{
  color: #ccc;
}
